{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Scheduler</title>
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Time Scheduler</h1>
        <h2>Wprowadź imię i adres email, aby przejść dalej</h2>

        <form id="userForm">
            <label for="name">Imię:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br><br>
            <button type="submit">Wyślij</button>
        </form>
    </div>
    <script src="{% static 'events/jquery-3.7.1.min.js' %}"></script>
    <script>
        document.getElementById('userForm').addEventListener('submit', function (e) {
            e.preventDefault();

            let name = document.getElementById('name').value;
            let email = document.getElementById('email').value;

            fetch('/send_user_data/', {
                method: 'POST',
                body: new URLSearchParams({
                    'name': name,
                    'email': email
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Imię: ' + data.name);
                    console.log('Email: ' + data.email);
                });
        });
    </script>
</body>

</html>